
.logout-but{
    border-color: rgb(128, 12, 253);
    font-size: 19px;
    color: rgb(128, 12, 253);
   transition-duration: 0.4s;
  cursor: pointer;
  width: 150px;
  height: 40px;
  margin-left: 20px;
  margin-right: 15px;
}
.logout-but:hover{
    background-color: rgb(128, 12, 253);
    color: white;
    
}
.hide{
    display: none;
}
.top-nav-right{
    display: flex;
    flex-direction: row;
}
.user-pic{
    border-radius: 50%;
    width: 45px;
    cursor: pointer;
}
.sub-menu-wrap{
    position: absolute;
    top: 100%;
    right: 1.5%;
    width: 200px;
    justify-content: space-between;
    border-radius: 40%;
   max-height: 0px;
   overflow: hidden;
    transition: max-height 0.8s;
}

.sub-menu-wrap.open-menu{
    max-height: 400px;
}

.sub-menu{
    background: #fff;
    padding: 20px;
    margin: 10px;
}
.user-info{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.user-info h3{
    font-weight: 500;
}
.user-info img{
    width: 60px;
    border-radius: 50%;
   
}
.sub-menu hr{
    border: 0;
    height: 1px;
    color: #0a0a0a;
    margin: 15px 0 10px;
}


.main{
    z-index: 2;
    background-color: rgb(126, 126, 251);
    display: flex;
    flex-direction: column;
    height: 300px;
    width: 300px;
   justify-content: space-evenly;
    align-items: center;
    margin-left: 600px;
    margin-top: 150px;
    border: #0a0a0a;
    border-radius: 10%
}
body{
    background-image: url('../images/bg_1.avif');
}
#name{
    width: 200px;
   position: relative;
}
.cpy-btn{
   background-color: white;
   height: 30px;
   padding-right: 10px;
    cursor: pointer;
}
/* #user-greeting{
    color: white;
    font-size: xx-large;
    font-weight: bolder;
    font-family: cursive;
} */
#username{
    width: 250px;
    margin-top: 5px;
    position: relative;
}
#roomcode{
    height: 30px;
    border-right: none;
    border-radius: 0;
}
.code-box{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.code{
    background-color: white;
    border: none;
    font-size: 19px;
    color:  rgb(165, 6, 179);
   transition-duration: 0.4s;
  cursor: pointer;
 padding: 6px 8px;
  margin-top: 2.5px;
}
.code:hover{
    color: rgb(231, 150, 238);
    background-color: white;
    padding: 6px 8px
    

}
.chat{
    width: 160px;
}